.metadata
.DS_Store
RemoteSystemsTempFiles
bin/
.recommenders
*.iml

org.tweaklab.brightsigntool/build
org.tweaklab.brightsigntool/dist
org.tweaklab.brightsigntool/.idea
.idea/
TweaklabBrightSignTool_1.0.1.jar
